<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="main-footer align-items-center">
        <div class="container">
            <div class="px-3 px-sm-0">
                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <a href="https://lostark.game.onstove.com" class="footer-policy-link text-darken-2 primary-text">
                                    로스트아크 홈페이지
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                Copyright 2022 CHKKANG All Right Reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>