@font-face {
  font-family: 'FIFA';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/NEXONFootballGothicB.otf') format('opentype');
}

@font-face {
  font-family: 'FIFA';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/NEXONFootballGothicL.otf') format('opentype');
}