<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="main-footer align-items-center">
        <div class="container">
            <div class="px-3 px-sm-0">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                Copyright 2022 CHKKANG All Right Reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>